.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 100;
    top: 0;
    width: 100%;
}

.nav-left {
    display: flex;       
    align-items: center; 
    padding: 10px;  
    padding-top: 5px;  
    padding-left: 340px;   
    cursor: pointer;
}

.nav-logo {
    width: 124px;
    height: auto;
    display: block;
    transform: translateY(-40px);  
}

.nav-right {
    display: flex;
    align-items: center;
    margin-left: 0;
    transform: translate(-500px, -35px); 
}

.nav-right ul {
    list-style: none;
    margin: 0;       
    padding: 0;      
    display: flex;
    font-size: 17.5px;
}

.nav-right ul li {
    margin-left: 15px;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-width: 60px; 
}

.theme-switcher {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cv-dwnld {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
    font-size: 15px;
    border-radius: 15px;
    border: 2px solid #000;
    padding: 7.5px 7.5px; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
    text-decoration: none;
}

.cv-link{
    text-decoration: none;
}

.cv-dwnld:hover {
    transform: scale(1.1);
    background-color: #e0e0e0; 
    border-color: #333; 
}
